<!DOCTYPE html>
<html lang="en">
  <%-include('head.ejs') %>
  <body>
    <ul id="list">
      <%-include('header.ejs') %> <% if(title=="Users"){ %> <% for (let user of
      users){ %>
      <div class="del">
        <li><a href="/user/<%= user.id %>"><%= user.username %></a></li>
        <span><a href="/delete/<%=user.id %>">X</a></span>
      </div>
      <% } %> <% }else if(title=='Contacts'){ %> <% for (let user of users){ %>
      <li>
        <%= user.username %>:
        <a href="tel:<%= user.phone %>"><%= user.phone %></a>
      </li>
      <% } %> <% } %>
    </ul>
  </body>
</html>
